{% include 'adminheader.html' %}

<div class="banner-w3l-main">
	<div class="w3l-banner-content">
	  <div class="container">
		<div class="bannerhny-info text-center">  
		<form method="post" style="margin-top:95px;" >
		<h1 align="center" style="font-family: times new roman;color: #fffffe;">APPOINTMENTS</h1>
		<br>
		<br>
		<center>
				
  <form method="post">
    <table style="color: black;width: 100px;">

  
		<td style="color: white"><input type="date" name="daily" > DAILY </td>
		 <td  style="color: white"> <input type="month" name="monthly"> MONTHLY </td>
		 <td  style="color: white"> <input type="text" name="customer" placeholder="Search by Doctor"> Doctor </td>
 
	  <tr>
		<td align="center" colspan="5"><input type="submit" name="sale" class="btn btn-info" value="SEARCH"></td>
	   </tr>
	 
 
	   </tr>
	
			</form>
			</table>

			</center>
		</div>
		</form>
		<!-- </div>
	  </div> -->
	<!-- </div>
</div> -->

</div></div></div>
<center>
	<!-- <h2><a onclick="print()" class="btn btn-info">print</a></h2> -->
<h1 style="font-family: times new roman;" >View Report</h1>

<h2><a class="btn btn-info" href="admin_salesreport">print</a></h2><br>
<style>
	@media print{
		body, body *{
			visibility: hidden;
		}

		#printsec,#printsec *{
			visibility: visible !important;
		}
	}
</style>
{% if data['report']%}
<table class="table" id="printsec" style="font-family: times new roman;"  >
	<tr>
		<th>PATIENT ID</th>
		<TH>PATIENT NAME</TH>
		<TH>DOCTOR</TH>
		<TH>APPOINTMENT DATE</TH>
		<th>TIME</th>
		<th>FEES</th>
		<th>BOOKING STATUS</th>
		<th>REPORTING STATUS</th>
		
		
		
	</tr>
	{% for row in data['report']%}
	
	<tr>
		<td>{{row['rid']}}</td>
		<td>{{row['patient_fname']}}</td>
		<td>{{row['doc_name']}}</td>
		<td>{{row['adate']}}</td>
		<td>{{row['t_box']}}</td>
		<td>{{row['fees']}}</td>
		<TD>{{row['status']}}</TD>
		{% if row['report'] == 'pending' %}
        <td><a style="width: 150px" class="btn btn-info" href="?action=report&apid={{ row['ap_id'] }}"><b>Not Reported</b></a></td>  
        <td><a style="width: 150px" class="btn btn-info" href="?action=notreport&apid={{ row['ap_id'] }}"><b>Reported</b></a></td>  
        {% else %}
			<td> {{ row['report'] }}</td>
           {% endif %}
            
	
		{% endfor %}
		{% else %}
        <h1 style="font-family:times new roman;color:rgb(17, 158, 158)">NO BOOKINGS YET</h1>

        {% endif %}
</table>
</center>
<style type="text/css">
	tr,td,th{
		border: 0px !important;
	}

	.table{
		width: 1000px !important;
		color: #000000;
		position: relative;
	
	}
	tr:nth-child(odd){
		background-color: rgba(0, 0, 0, .3);
	}
</style>
</div>
</div>
<br><br>
{% include 'footer.html' %}