<body onload="printDiv()">
    <div id="div_print" >
        <center>
            <link rel="stylesheet" href="static/assets/css/style-starter.css">
            <font style="font-family:times new roman">
            <h1 style="color: #3ccadd;"><b>MEDICK EYE HOSPITAL<b></h1>
                <p>
                    Medick Private Limited ,
                    near panampilly park,
                    kadavanthara 682020 <br><br>
                          <strong>Phone:</strong> +911234567890<br> 
                          <strong>Email:</strong> medick@mail.com<br> 
                        </p> 
            <h1 style="padding-top: 30px;font-size: 40px;">CANCELLATION REPORT</h1><br>`
            <!-- <h1>View Sales</h1> -->
<table border=1 class="table table-secondary table-striped " style="width: 1000px;color: black;background:white;opacity: 0.85;">
    <tr align="left">
		<th>PATIENT ID</th>
        <TH>DOCTOR</TH>
		<TH>APPOINTMENT DATE</TH>
		<th>TIME</th>
		<th>REFUND AMOUNT</th>
		
                
                
            </tr>
            
        

		{% for row in data['cancelview']%}
	<tr>
        <TD>{{row['rid']}}</TD>
		<td>{{row['doc_name']}}</td>
		<td>{{row['adate']}}</td>
		<td>{{row['t_box']}}</td>
		<td>{{row['refund']}}</td>
            </tr>
            {% endfor %}









<script> 
    function printDiv() { 
      var divContents = document.getElementById("div_print").innerHTML; 
      var a = window.open('', '', 'height=500, width=500'); 
      a.document.write(divContents); 
      a.document.close(); 
      a.print(); 
    } 
  </script>