       <!-- <!DOCTYPE html>
       <html>
       <head>
           <title>Eye Hospital</title>
       </head>
       <body>
       <a href="/">home</a>
       <a href="patient">patient</a>  -->




       <!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Medick Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Eye Hospital</title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="static/assets/css/style-starter.css">
</head>

<body>
  <div class="header-w3l">
	<div class="banner-w3l-main">
		<div class="w3l-banner-content">
		  <div class="container">
			<div class="bannerhny-info text-center">  

                <form action="" method="post">
                    <h1 class="text-white">Cancellation Form</h1>
                    <table   class="table" style="width:600px; color: #fffffe; font-family: times new roman"  >
                        <br>
                    <br>
                        
                        <tr>
                            <th>Refund Amount</th>
                            <td><input type="text" required="" name="email" maxlength="30" readonly="" value="{{data['fees']}}" class="form-control" style="opacity: 0.7"></td>
                        </tr>
                        <tr>
                            <th>Card Holder Name</th>
                            <td><input type="text" required="" name="card_name" maxlength="15"  class="form-control" style="opacity: 0.7"></td>
                        </tr>
                        <tr>
                            <th>Account Number</th>
                            <td><input type="text" required=""  name="acno" maxlength="17" class="form-control" style="opacity: 0.7"></td>
                        </tr>
                        <tr>
                          <th>Bank Name</th>
                          <td><input type="text" required="" name="bname" class="form-control" style="opacity: 0.7;"></td>
                      </tr>
                      <tr>
                        <th>Bank Branch</th>
                        <td><input type="text" required="" name="branch" class="form-control" style="opacity: 0.7;"></td>
                    </tr>
                    <tr>
                      <th>IFSC Code</th>
                      <td><input type="text" required="" maxlength="11" name="code" class="form-control" style="opacity: 0.7;"></td>
                  </tr>
                        <tr>
                            <th>Reason for Cancellation</th>
                            <td><input type="textarea" required="" name="reason" class="form-control" style="opacity: 0.7;"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><center><input type="submit" name="can" value="CANCEL" class="btn btn-success"></center></td>
                        </tr>
                    </tr>
                    </table>
                </form>
                
<style type="text/css">
	tr,td,th{
		border: 0px !important;
	}
</style>
</div>
</div>
