 
   {% include 'publicheader.html'%}  
   <div class="banner-w3l-main">
    <div class="w3l-banner-content">
      <div class="container">
        <div class="bannerhny-info text-center">  
        <form method="post" style="margin-top:200px;" >
        <h1 align="center" style="font-family: times new roman;color: #fffffe;"><b>LOGIN</b></h1>
    <table align="center"  class="table" style="width:600px; color: #fffffe; font-family: times new roman"  >
<br> <br><br>              
        <tr>
            <th>USERNAME</th>
            <td><input type="text" name="uname" class="form-control" style="opacity: 0.7"></td>
        </tr>
    

        <tr>
            <th>PASSWORD</th>
            <td><input type="password" name="password" class="form-control" style="opacity: 0.7"></td>
        </tr>
    
    
        <tr>
            <td colspan="2"><center><input type="submit" name="button" value="LOGIN" class="btn btn-info"></center></td>
            
        </tr>
    
    </table>
    
      
</font>
</form>
<style type="text/css">
	tr,td,th{
		border: 0px !important;
	}
</style>
</div>
</div>
<br><br><br><br>
{% include 'footer.html'%}


