{% include 'publicheader.html'%}
	<div class="banner-w3l-main">
		<div class="w3l-banner-content">
		  <div class="container">
			<div class="bannerhny-info text-center">  
			<form method="post" style="margin-top:200px;" >
			<h1 align="center" style="font-family: times new roman;color: #fffffe;">REGISTRATION</h1>
		<table align="center"  class="table" style="width:600px; color: #fffffe; font-family: times new roman"  >
		<br>
	<br>
		
		<tr>
			<th>Email ID</th>
			<td><input type="email" required="" name="email" maxlength="30" class="form-control" style="opacity: 0.7"></td>
			
			<span style="color: red" id="eerror1">Please enter valid Email!</span>
		
		</tr>
		<tr>
			<th>First Name</th>
			<td><input type="text" required="" name="fname" maxlength="15" 	 class="form-control" style="opacity: 0.7"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" required="" name="lname" maxlength="15" class="form-control" style="opacity: 0.7"></td>
		</tr>
		<tr>
			<th>DOB</th>
			<td><input type="date" required="" name="p_dob" class="form-control" style="opacity: 0.7"></td>
		</tr>
		<tr>
		<th>Gender</th>
			<td><input type="text" required="" name="pgender" class="form-control" style="opacity: 0.7"></td>
		</tr>
		<tr>
			<th>House Name</th>
			<td><input type="text" required="" name="hname" class="form-control" style="opacity: 0.7"></td>
		</tr>
			<th>District</th>
			<td>
			<select name="District" id="district" class="form-control" style="opacity: 0.7">
				<option value="Select">Select Option</option>
				<option value="Ernakulam">Ernakulam</option>
                <option value="Trivandrum">Trivandrum</option>
                <option value="Thrissur">Thrissur</option>
                <option value="Alappuzha">Alappuzha</option>
                <option value="Kasaragod">Kasaragod</option>
                      <option value="Kozhikode">Kozhikode</option>
                         <option value="Kannur">Kannur</option>
                            <option value="Wayanad">Wayanad</option>
                               <option value="Palakkad">Palakkad</option>
                               <option value="Idukki">Idukki</option>
                               <option value="Kottayam">Kottayam</option>
                               <option value="Pathanamthitta">Pathanamthitta</option>
                               <option value="Malappuram">Malappuram</option>
                               <option value="Kollam">Kollam</option>
			</select></td>
		</tr>
		<tr>
			<th>Pin Code</th>
			<td><input type="text" pattern=[0-9]{6} required="" name="pincode" maxlength="6" class="form-control" style="opacity: 0.7"></td>
		</tr>	
		<tr>
			<th>Phone number</th>
			<td><input type="text" pattern=[0-9]{10} required="" name="phno" maxlength="10" class="form-control" style="opacity: 0.7"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="password" required="" class="form-control" style="opacity: 0.7"></td>
		</tr>
		<tr>
			<!--th>Date of check in</th>
			<td><input type="Date" name="" class="form-control"></td>
		</tr>
		<tr>
			<th>Date of check out</th>
			<td><input type="Date" name="" class="form-control"></td>
		</tr-->
		<tr>
			<td colspan="2"><center><input type="submit" name="patient" value="Register" class="btn btn-info"></center></td>
			
		</tr>
	</tr>
	</table>
</font></form>
<style type="text/css">
	tr,td,th{
		border: 0px !important;
	}
</style>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='pgender']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phno']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pincode']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
		
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror1').show();
                    $('#btn').prop('disabled', true);
                    console.log("err");
                } else {
                    $('#btn').prop('disabled', false);
                    $('#eerror1').hide();
                    console.log("err");
                }

        });
        
        $("input[name='hname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        
          
        $("input[name='password']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>
{% include 'footer.html'%}